html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Khula', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  margin: 20px auto;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

table {
  border-color: #d6d6d7;
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  background: rgb(245, 245, 245);
  text-align: left;
  padding: 6px 10px;
  border: 1px solid #d6d6d7;
}
td {
  text-align: left;
  padding: 6px 10px;
  border: 1px solid #d6d6d7;
}
code {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  max-width: 100%;
  font-size: 80%;
  padding: 0.1em 0.25em;
}
blockquote {
  border-left: 2px solid #dedede;
  padding-left: 10px;
}

nav {
  display: flex;
}

nav li {
  text-decoration: none;
}