.interviewSeriesHeader {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 40rem;
    margin: 0 auto;
}
.header {
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}
.topicList {
    display: flex;
    flex-direction: column;
}
.backToHome {
    text-align: left;
}
@media only screen and (max-width: 600px) {
.interviewSeriesHeader {
    max-width: 100%;
    margin: 0 30px;
}
.header {
    font-size: 26px;
}
.topicList h2 {
    font-size: 20px;
}
}